{
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "node": "6.9.0"
        }
      }
    ]
  ]
}
